/* Default styles for larger screens */
.navbar {
  background-color: red; 
  color: white; 
  padding: 10px 20px; 
  display: flex;
  align-items: center;
}

.navbar .Logo {
  font-size: 24px; 
  margin-right: auto; 
}

.navbar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar nav ul li {
  margin-right: 20px; 
}

.navbar nav ul li a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease; 
}

.navbar nav ul li a:hover {
  color: yellow; 
}

input {
  border: 2px solid black;
  padding: 2px;
}

button {
  border: 2px solid black;
  border-radius: 10px;
}

